// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font: Helvetica, sans-serif;

body {
  margin-block-start: 70px;
}

.edit_user {
  margin: auto;
  padding: 15px;
}

.edit_password {
  margin: 0em;
}

.edit_password_confirmation {
  margin-top: 1em;
}

.cancel_account {
  text-align: center;
  padding: 20px;
}

.orders {
  text-align: center;
}

.products {
  text-align: center;
}

#products {
  margin-block-end: 50px;
}

.newProduct {
  padding: 20px;
  font: $font;
}

.show_product_information {
  padding-top: 15px;
  margin-top: 50px;
}

.reviews {
  margin-left: 100px;
}

table {
  width: 100%;
  tr {
    text-align: center;
    font: $font
  }
}
