// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font: Helvetica, sans-serif;

body {
  margin-block-start: 70px;
}

.edit_user {
  margin: auto;
  padding: 15px;
}

.edit_password {
  margin: 0em;
}

.edit_password_confirmation {
  margin-top: 1em;
}

.new_first_name {
  margin-top: 1em;
}

.cancel_account {
  text-align: center;
  padding: 20px;
}

.orders {
  text-align: center;
}

.products {
  text-align: center;
}

#products {
  margin-block-end: 50px;
}

.newProduct {
  padding: 20px;
  font: $font;
}

.show_product_information {
  padding-top: 15px;
  margin-top: 50px;
}

.reviews {
  margin-left: 100px;
}

.pagination {
  font-size: 12px;
}

.pagination > * {
  margin-right: 0.1em;
  padding: 0.3em 0.4em;
  margin-top: 30px;
}

/* .pagination a:hover {
  background: #202020 none repeat scroll 0 0;
  text-shadow: 1px 1px 1px #171717;
} */

.pagination a:active {
  text-shadow: none;
}

.pagination .disabled {
  color: #C0C0C0;
}

.pagination_product {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.pagination_product > * {
  margin-right: 0.1em;
  padding: 0.3em 0.4em;
}

.pagination_product a:active {
  text-shadow: none;
}

.pagination_product .disabled {
  color: #C0C0C0;
}


table {
  width: 100%;
  tr {
    text-align: center;
    font: $font
  }
}
