// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: Helvetica, sans-serif;

body {
  font: $font;
  h1 {
    text-align: center;
    margin-block-start: 70px;
  } 
  h2 {
    text-align: center;
  }
}

footer {
  text-align: center;
  margin: 10px;
}

.product-form {
  padding: 30px;
  margin: auto;
}

#q {
  margin-right: 10px;
}

.email_form {
  padding: 30px;
  margin: auto;
}

.my-image {
  width: 100%;
}

.carousel-caption {
  color: black;
}

.carousel-indicators .active {
  background-color: black;
}

.jumbotron {
  text-align: center;
  position: relative;
  top: -14px;
  padding: 35px;
    h1 {
      margin: 0px 0px 10px 0px;
    }
}

