<h1 id="products">Products</h1>

<div class="container-fluid">
  <div class="row">
    <%= render partial: "shared/product", collection: @products %>
  </div>
  <%= will_paginate @products, :class => 'pagination_product' %>
</div>


<br>

<% if signed_in? && current_user.admin? %>
<%= link_to('New Product', new_product_path, class: 'newProduct') %>
<% end %>
